@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import 'tailwindcss';

@plugin "daisyui" {
    themes: dark --default;
}

@plugin "daisyui/theme" {
    name: "dark";
    prefersdark: true;

    --color-primary: oklch(0.4446 0.1774 26.79);
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Lexend', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary: oklch(0.4446 0.1774 26.79);
}
